[Unit]
Description=CLI to parse BNO055 IMU and publish them via MQTT and store into InfluxDB
After=influxdb.service

[Service]
Type=simple
ExecStart=/usr/bin/bnofluxlite --config /etc/umg/conf.json
ExecStop=/bin/kill -9 $(pidof python3 /usr/bin/bnofluxlite)
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target